body {
  background-color: #eff2f3;
  font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0%;
  margin: 0%;
}
header h1{
    background-color: #3b3b3b;
    height: 100px;
    color: #3b3b3b;
}
.john {
    background-color: white;
    border: 2px solid #e9e8eb;
    border-radius: 10px;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 600px;
    max-height: 80px;
}
section:hover {
    border: 3px solid #ff7e5f;
    transition: border 0.3s ease;
  }
 header section p{
    font-size: small;
}
#foot {
    text-align: center;
    color: white;
    background-color: #3b3b3b;
    border-top: 5px solid #ff7e5f;
    padding: 1rem;
  }
  footer p {
    margin: 0%;
    font-size: small;
  }